.wrapper {
  width: 100%;
  display: flex;
  border-radius: 4px;
  border: 1px solid #dadada86;
  background-color: #f7f9ff;
  padding: 16px 0;

  .group-menu {
    display: flex;
    align-items: center;
    width: 50px;
    border-right: 2px solid #e7e7e786;

    .group-menu-icon {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .group-icon {
      width: 20px;
      margin: 8px 0;
      flex: none;
    }
  }

  .group-main {
    width: 300px;
    border-right: 2px solid #e7e7e786;
    padding: 0 12px;

    .group-header {
      display: flex;
      align-items: center;
    }

    .group-header-img > img {
      width: 24px;
      margin-right: 12px;
      padding: 12px 0;
    }

    .group-header-description {
      padding: 12px 0;
      border-top: 2px solid #e7e7e786;
      line-height: 1.5;
    }
  }

  .group-list-item {
    flex: 1 1 0%;
    padding: 0 16px 0 8px;
  }
}

.hidden-item {
  opacity: 0.2;
}
